@import '_variables';
@import 'core/_mixins';


main {
	.sections {
		background: $white url("../images/bg-main.png") no-repeat -50% 500px;
	}
	
    .hero {
        margin-top: 18vh;

        &::after {
            content: '';
            background: $white;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            z-index: -1;
            height: 80px;
        }

        .row:nth-child(1) {
            margin-bottom: 200px;
        }
    }
	
	#wp {
		.images {
			.img-1 {
				bottom: 12%;
				right: 2%;
				width: 128px;
			}
		}
	}
}
