// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
a, .fa-circle  {
  color: #36d06f !important;  
}

a:hover{
  background: #2a81de !important;
}

nav a:hover {
  background: none !important;
}